.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Signup {
  background-color: black;
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3.5rem;  
}

.eInput {
  background-color: black;
  color: red;
}

.btn-primary {
  background-color: darkgray;
  color: red;
}